<div class="col-xs-2  bg-blue">
    <br/>
    <div class="panel-group sidebar-menu" id="accordion" aria-multiselectable="true">
        <div class="panel panel-default menu-first menu-first-active">
            <a data-toggle="collapse" data-parent="#accordion" href="index.html" aria-expanded="true"
               aria-controls="collapseOne">
                <i class="icon-home icon-large"></i> 主页
            </a>
        </div>
{#        {% if request.session.login_user.role_code == 'admin' %}#}
{#            <div class="panel panel-default menu-first">#}
{#            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true"#}
{#               aria-controls="collapseOne">#}
{#                <i class="icon-user-md icon-large"></i> 系统管理</a>#}
{#            </a>#}
{##}
{#            <div id="collapseOne" class="panel-collapse collapse ">#}
{#                <ul class="nav nav-list menu-second">#}
{#                    <li><a href="/role/"><i class="icon-user"></i> 用户角色</a></li>#}
{#                    <li><a href="/sys_user/"><i class="icon-edit"></i> 系统用户</a></li>#}
{#                    <li><a href="/user_role/"><i class="icon-trash"></i> 用户权限</a></li>#}
{#                </ul>#}
{#            </div>#}
{#          </div>#}
{#        {% endif %}#}

        <div class="panel panel-default menu-first">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"
               aria-expanded="false" aria-controls="collapseTwo">
                <i class="icon-leaf icon-large"></i> 用户管理</a>
            </a>
            <div id="collapseTwo" class="panel-collapse collapse">
                <ul class="nav nav-list menu-second">
                    <li><a href="/sys_manager/"><i class="icon-user"></i> 管理员用户管理</a></li>
                    <li><a href="/sys_student/"><i class="icon-user"></i> 学生用户管理</a></li>
                    <li><a href="/sys_teacher/"><i class="icon-edit"></i> 教师用户管理</a></li>

                </ul>
            </div>
        </div>
        <div class="panel panel-default menu-first">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree"
               aria-expanded="false" aria-controls="collapseThree">
                <i class="icon-cloud icon-large"></i> 修改密码</a>
            </a>

            <div id="collapseThree" class="panel-collapse collapse">
                <ul class="nav nav-list menu-second">
                    <li><a href="/manage_pwd/"><i class="icon-edit"></i> 修改密码</a></li>
                </ul>
            </div>
        </div>
        <div class="panel panel-default menu-first">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour"
               aria-expanded="false" aria-controls="collapseFour">
                <i class="icon-gift icon-large"></i> 成绩管理</a>
            </a>

            <div id="collapseFour" class="panel-collapse collapse">
                <ul class="nav nav-list menu-second">
                    <li><a href="/sys_subject/"><i class="icon-certificate"></i> 科目管理</a></li>
                    <li><a href="/sys_score/"><i class="icon-certificate"></i> 成绩管理</a></li>
                    <li><a href="/student_class/"><i class="icon-certificate"></i> 班级管理</a></li>


                </ul>
            </div>
        </div>
    </div>
</div>